---
import { Button } from 'astro-pure/user'
import Substats from '@/components/about/Substats.astro'
import { aboutPageData } from '@/data/about'
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='About' headings={aboutPageData.headings}>
  <p>{aboutPageData.intro.role}</p>
  {
    aboutPageData.intro.paragraphs.map((paragraph) => (
      <p>{paragraph}</p>
    ))
  }
  <Button
    title={aboutPageData.intro.sponsorButton.title}
    class='w-fit'
    href={aboutPageData.intro.sponsorButton.href}
    variant={aboutPageData.intro.sponsorButton.variant}
  />

  <h2 id='social-networks'>{aboutPageData.social.title}</h2>
  <p>{aboutPageData.social.description}</p>
  <Substats stats={aboutPageData.social.stats} />
</PageLayout>
