---
import { linksData } from '@/data/links'

import config from 'virtual:config'
import PageLayout from '@/layouts/CommonPage.astro'
import FriendList from '@/components/links/FriendList.astro'

const headings = [
  { depth: 2, slug: 'common-links', text: 'Common Links' },
  { depth: 2, slug: 'special-links', text: 'Special Links' },
  { depth: 2, slug: 'apply-links', text: 'Apply Links' }
]

const { friends } = linksData
const linksConf = config.integ.links
const linkEditPage = 'https://github.com/wittzz-crypto/wittzz-crypto.github.io/blob/main/src/data/links.ts'
---

<PageLayout title='Links' {headings}>
  <p>They're sorted randomly.</p>
  <h2 id='common-links'>Common Links</h2>
  <FriendList list={friends[0]} />
  <h2 id='special-links'>Special Links</h2>
  <FriendList list={friends[1]} />

  <h2 id='apply-links'>Apply Links</h2>
  <p>The site information: </p>
  <blockquote class='not-prose grid grid-cols-[auto_1fr] gap-x-2 break-words border-s-4 ps-4'>
    {
      linksConf.applyTip.map(({ name, val }) => {
        const script = `navigator.clipboard.writeText('${val}');document.dispatchEvent(new CustomEvent('toast',{detail:{message:'Copied "${val}" to clipboard!'}}))`
        return (
          <>
            <span class='text-end'>{name}:</span>
            <samp class='cursor-pointer' onclick={script}>
              {val}
            </samp>
          </>
        )
      })
    }
  </blockquote>

  <p>
    可通过 <a href={linkEditPage} target='_blank'>提交 PR</a> 申请友链。<br />
    Apply your link by <a href={linkEditPage} target='_blank'>Submitting a PR </a
    >.
</PageLayout>
